In [86]:
import pandas as pd
import numpy as np
import multiprocessing
multiprocessing.cpu_count()
from os import listdir
from os.path import isfile, join

In [87]:
onlyfiles = [f for f in listdir('../CSVs/weather_data/') if isfile(join('../CSVs/weather_data/', f))]

In [88]:
onlyfiles

['madera.csv',
 'inyo.csv',
 'glenn.csv',
 'plumas.csv',
 'kings.csv',
 'trinity.csv',
 'santa_cruz.csv',
 'tulare.csv',
 'butte.csv',
 'del_norte.csv',
 'shasta.csv',
 'contra_costa.csv',
 'lassen.csv',
 'san_francisco.csv',
 'riverside.csv',
 'napa.csv',
 'solano.csv',
 'sacramento.csv',
 'el_dorado.csv',
 'yuba.csv',
 'humboldt.csv',
 'santa_clara.csv',
 'amador.csv',
 'san_bernardino.csv',
 'alameda.csv',
 'mendocino.csv',
 'monterey.csv',
 'sierra.csv',
 'siskiyou.csv',
 'tuolumne.csv',
 'yolo.csv',
 'calaveras.csv',
 'san_diego.csv',
 'san_joaquin.csv',
 'placer.csv',
 'tehama.csv',
 'san_mateo.csv',
 'nevada.csv',
 'lake.csv',
 'sonoma.csv',
 'merced.csv',
 'mariposa.csv',
 'stanislaus.csv',
 'sutter.csv',
 'colusa.csv',
 'san_luis_obispo.csv',
 'modoc.csv',
 'san_benito.csv',
 'fresno.csv']

In [89]:
def lowering(df):
    lowered_columns = []
    columns = df.columns
    for item in columns:
        lowered_columns.append(item.lower())
    lowered_columns[0] = 'county' #fixes the county index issue.
    df.columns = lowered_columns
    return df

In [90]:
county_list = []
#for j in range(len(onlyfiles)):
for i in onlyfiles:
    path_csv = "../CSVs/weather_data/"+i
    name_county = i.replace('.csv', '')
    exec("%s = pd.read_csv('%s')" % (name_county,path_csv))
    exec('lowering(%s)' % (name_county))
    county_list.append(name_county)

In [91]:
county_list

['madera',
 'inyo',
 'glenn',
 'plumas',
 'kings',
 'trinity',
 'santa_cruz',
 'tulare',
 'butte',
 'del_norte',
 'shasta',
 'contra_costa',
 'lassen',
 'san_francisco',
 'riverside',
 'napa',
 'solano',
 'sacramento',
 'el_dorado',
 'yuba',
 'humboldt',
 'santa_clara',
 'amador',
 'san_bernardino',
 'alameda',
 'mendocino',
 'monterey',
 'sierra',
 'siskiyou',
 'tuolumne',
 'yolo',
 'calaveras',
 'san_diego',
 'san_joaquin',
 'placer',
 'tehama',
 'san_mateo',
 'nevada',
 'lake',
 'sonoma',
 'merced',
 'mariposa',
 'stanislaus',
 'sutter',
 'colusa',
 'san_luis_obispo',
 'modoc',
 'san_benito',
 'fresno']

In [92]:
master_df = pd.DataFrame(columns = ['date', 'awnd', 'evap', 'prcp', 'snow', 'tavg',
       'tmax', 'wdmv'])

In [93]:
madera.date.unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016])

In [94]:
madera.head()

,county,name,date,awnd,prcp,snow,tavg,tmax
0,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2010,NaN,NaN,NaN,60.2,69.6
1,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2011,NaN,NaN,NaN,60.0,69.5
2,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2012,NaN,NaN,NaN,63.1,72.9
3,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2013,NaN,NaN,NaN,63.7,74.0
4,USR0000CMET,"METCALF GAP CALIFORNIA, CA US",2014,NaN,NaN,NaN,65.3,75.3

In [95]:
#averageing out the 
for county in county_list:
    #print(county)
    exec("df = %s" % (county))
    years = df.date.unique()
    df.drop(['county', 'name'], axis =1, inplace = True)
    try:
        df.drop(['latitude', 'longitude', 'elevation'], axis = 1, inplace = True)
        for year in years:
            cols = df.columns
            for attribute in cols:
                mask = df.date == year
                master_df.loc[county+'_'+str(year), attribute] = df[mask][attribute].mean()
    except:
        print("Error has been hit at county: ", county)
        for year in years:
            cols = df.columns
            for attribute in cols:
                mask = df.date == year
                master_df.loc[county+'_'+str(year), attribute] = df[mask][attribute].mean()
        continue

Error has been hit at county:  madera
Error has been hit at county:  inyo
Error has been hit at county:  glenn
Error has been hit at county:  kings
Error has been hit at county:  trinity
Error has been hit at county:  del_norte
Error has been hit at county:  contra_costa
Error has been hit at county:  lassen
Error has been hit at county:  napa
Error has been hit at county:  el_dorado
Error has been hit at county:  humboldt
Error has been hit at county:  alameda
Error has been hit at county:  mendocino
Error has been hit at county:  monterey
Error has been hit at county:  san_joaquin
Error has been hit at county:  lake
Error has been hit at county:  merced
Error has been hit at county:  mariposa
Error has been hit at county:  stanislaus
Error has been hit at county:  colusa
Error has been hit at county:  modoc
Error has been hit at county:  san_benito
Error has been hit at county:  fresno

In [98]:
master_df.drop(['evap', 'wdmv'], axis =1 , inplace = True)

In [99]:
master_df

                      date  awnd     prcp      snow     tavg     tmax
madera_2010           2010   5.8   16.905         0   59.975       72
madera_2011           2011   5.4    23.23       NaN    59.65    72.05
madera_2012           2012   NaN    29.68      45.7  62.5667     74.7
madera_2013           2013   NaN  7.63333     15.45   62.725    76.35
madera_2014           2014   NaN   11.054         0    64.64    77.74
madera_2015           2015   5.8  14.6025      1.05    63.58    76.04
madera_2016           2016   5.8  27.6967         0   62.825    75.52
inyo_2010             2010   7.6    8.012   1.76667  62.9111  76.1556
inyo_2011             2011   NaN     2.17       0.6  63.2714     76.6
inyo_2012             2012   8.1    2.376      3.85  65.3667  79.3556
inyo_2013             2013   8.3  2.34286  0.166667    63.64    77.33
inyo_2014             2014   8.1  3.20286      0.05    64.79    78.23
inyo_2015             2015   8.1    3.105         0  64.4889  77.8111
inyo_2016             2016   8.1  3.76286         1     65.1     78.8
glenn_2010            2010   NaN   28.675         0  60.6333  72.9333
glenn_2012            2012   NaN    20.31         0     60.8       74
glenn_2014            2014   NaN    23.44       NaN    63.34    76.36
glenn_2015            2015   NaN    9.775       NaN     62.5   75.325
glenn_2016            2016   NaN  21.8833         0    61.54    73.82
glenn_2011            2011   NaN    17.14       NaN     60.4  73.4667
glenn_2013            2013   NaN  5.25667       NaN  62.3667  77.3667
plumas_2010           2010   NaN    45.27      88.2   48.775   62.375
plumas_2011           2011   NaN    23.05     128.6     48.6  62.6714
plumas_2012           2012   NaN    41.69       NaN   51.525    66.14
plumas_2015           2015   NaN  22.0333   30.7333  52.5167  68.3167
plumas_2016           2016   NaN    46.42      49.9     51.2  65.8667
plumas_2013           2013   NaN    9.864        22    49.18    66.24
plumas_2014           2014   NaN  31.4433      12.2    52.98    68.96
kings_2010            2010  6.25    13.47         0    63.15    75.25
kings_2011            2011   6.9  7.56857         0    62.16    75.15
...                    ...   ...      ...       ...      ...      ...
colusa_2016           2016   NaN    16.81       NaN     62.3    75.95
colusa_2010           2010   NaN      NaN       NaN      NaN      NaN
san_luis_obispo_2010  2010  6.15   26.394         0  58.8222  72.1222
san_luis_obispo_2011  2011  6.15     15.8       NaN     58.8    73.15
san_luis_obispo_2012  2012  6.15  18.0663       NaN  60.7167   75.225
san_luis_obispo_2013  2013   5.8  3.70222         0  60.9615  75.7923
san_luis_obispo_2014  2014  6.25   14.775       NaN  63.0462  77.0538
san_luis_obispo_2015  2015  6.35  9.76875       NaN     62.1  75.4818
san_luis_obispo_2016  2016   6.4   19.189       NaN    61.55    75.17
modoc_2015            2015   5.1  21.0656   30.3333  49.0818     60.7
modoc_2016            2016   5.6  25.9813     48.55  47.0545  58.1364
modoc_2010            2010   5.6  28.9714     36.06    45.33    57.22
modoc_2011            2011   5.1  24.2867      29.4    44.91    57.05
modoc_2012            2012   5.4  23.6086      58.4   47.275     60.3
modoc_2013            2013   4.7  12.9967      18.9  46.3818  58.8545
modoc_2014            2014   5.6  24.8429      9.15     48.8     61.1
san_benito_2010       2010   NaN  17.0925         0    57.76    69.02
san_benito_2011       2011   NaN   12.185       NaN   57.575   69.225
san_benito_2012       2012   NaN   14.665       NaN     59.3     71.3
san_benito_2013       2013   NaN  3.58333       NaN  60.8333  74.6667
san_benito_2014       2014   NaN    14.28       NaN   62.575    75.35
san_benito_2015       2015   NaN     8.77       NaN   61.275    74.05
san_benito_2016       2016   NaN   15.836       NaN    59.78    72.45
fresno_2010           2010   5.6  28.9817         0  56.3545  68.6182
fresno_2011           2011   5.4  16.8113         0  56.7846  69.7923
fresno_2012           2012   5.6   18.414         0  58.2154  70.3538
fresno_2013           2013   5.4  4.22727         0    58.84  71.3267
fresno_2014           2014   5.8    9.975         0  60.6438     73.2
fresno_2015           2015   5.6  9.60818         0  59.6118  71.8059
fresno_2016           2016     6  17.8843         0  58.1071  70.5143

[336 rows x 6 columns]

In [101]:
master_df.to_csv("../CSVs/climate_data.csv")